[submodule "edk2"]
	path = edk2
	url = https://github.com/jforissier/edk2.git
	branch = hikey_optee
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/jforissier/arm-trusted-firmware.git
	branch = hikey-sec
[submodule "l-loader"]
	path = l-loader
	url = https://github.com/jforissier/l-loader.git
	branch = hikey
[submodule "linux"]
	path = linux
	url = https://github.com/jforissier/linux.git
	branch = hikey-optee
[submodule "burn-boot"]
	path = burn-boot
	url = https://github.com/96boards/burn-boot.git
[submodule "gen_rootfs"]
	path = gen_rootfs
	url = https://github.com/jforissier/gen_rootfs.git
[submodule "optee_linuxdriver"]
	path = optee_linuxdriver
	url = https://github.com/OP-TEE/optee_linuxdriver.git
[submodule "optee_client"]
	path = optee_client
	url = https://github.com/OP-TEE/optee_client.git
[submodule "optee_test"]
	path = optee_test
	url = ssh://linaro-private.git.linaro.org/srv/linaro-private.git.linaro.org/swg/optee_test.git
[submodule "optee_os"]
	path = optee_os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "aes-perf"]
	path = aes-perf
	url = https://github.com/linaro-swg/aes-perf.git
