/.busybox
/busybox
/.edk2basetools
/.linuxbuildinprogress
/.strace_exports
/.initramfs_exports
/.valgrind_exports
/.dropbear_exports
/nvme.img
/boot.img
/initramfs.cpio.gz
/out
/public
/grubaa64.efi
/hi6220-hikey.dtb
/inst
